body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(140, 150, 149);
}

.content {
    
    padding-bottom: 100px;
    padding-left: 0%;
}

img {
    border: 5px solid rgb(252, 251, 251);
  }

.imagens {
    
    float: left;
    width: 20.20%;
    padding: 10px;
    padding-top: 6%;
    margin-left: 10%;
  }
  
   

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.galeria{
    background-color: #333;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: rgb(58, 0, 0);
  }


  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: rgb(58, 0, 0);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(58, 0, 0);
}